.addform{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    border: 5px solid #FF6600;
    border-radius: 20px;  
}
.addformhead{
    text-align: center;
}
.form-group{
    margin-left: 50px;
    margin-right: 50px;
}
.addformend{
    padding-left: 100px;
}
