<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logincontroller</servlet-name>
        <servlet-class>controller.logincontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateotp</servlet-name>
        <servlet-class>controller.validateotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newpassword</servlet-name>
        <servlet-class>controller.newpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logincontroller</servlet-name>
        <url-pattern>/logincontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateotp</servlet-name>
        <url-pattern>/validateotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newpassword</servlet-name>
        <url-pattern>/newpassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
